$color-white: #fff;
$color-black: #000;
$color-green: rgb(46, 208, 5);
$color-red:  red;
$color-primary: rgb(245, 242, 242);
$color-secondary: rgba(7, 124, 202, 0.81);

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}
