$color-white: #fff;
$color-black: #000;
$color-green: rgb(46, 208, 5);
$color-red: red;
$color-primary: rgb(245, 242, 242);
$color-secondary: rgba(7, 124, 202, 0.81);
$color-tertiary: rgb(242, 251, 251);

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #27272a;
    
}
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}
.wrapper {
    max-width: 1440px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto
}

.heading-7,
.heading-5,
.heading-3 {
    font-weight: 700;
}

.heading-3 {
    font-size: 1.375rem;
    line-height: 1.625rem;
}

.heading-5 {
    font-size: 2.25rem;
    line-height: 2.625rem;
}

.heading-7 {
    font-size: 2.875rem;
    line-height: 3.375rem;
}
