.linia-corte{
    margin: 0;
    border-style: solid;
    border-width: 1px;
    color: $color-primary;
}
.title {
    font-size: 20px;
    font-weight: bolder;
}
.menu-list {
    padding: 15px;
    font-size: 16px;
    margin: auto;
}
.menu-link {
    color: $color-black;
    font-weight: 300;
}
.menu-button {
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    background-color: $color-white;
    
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    padding: 14px;
}

.main-img--size {
    background-color: $color-green;
    font-size: 12px;
    padding: 5px;
    color: $color-white;
    position: relative;
    top: 42px;
    left: 28px;
}
.oferta {
    margin-top: 20px;
    font-size: 12px;
    color: $color-red;
    font-weight: bold;
}
.titel-ifhone {
    font-size: 36px;
    margin: 0;
}


.precio {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}
.button-comprar {
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    background-color: $color-secondary;
    font-family: inherit;
    color: $color-white;
    font-size: 16px;
    line-height: 1;
    padding: 16px;
    display: inline-block;
}
.icon {
    font-size: 24px;
    font-weight: bolder;
}
.accesorios-heading {
    font-size: 34px;
}
.card-heading {
    font-size: 22px;
}
.card-info {
    line-height: 1.5;
}

.button-oferta {
    border: 1px solid;
    border-radius: 6px;
    background-color: $color-red;
    font-family: inherit;
    color: $color-white;
    font-size: 14px;
    line-height: 1;
    padding: 10px 12px;
    display: inline-block;
}

.button-nuevo {
    border: 1px solid;
    border-radius: 6px;
    background-color: $color-secondary;
    font-family: inherit;
    color: $color-white;
    font-size: 14px;
    line-height: 1;
    padding: 10px 12px;
    display: inline-block;
}
.sorteo {
    margin: 30px 70px;
    background-color: rgb(242, 251, 251);
    display: flex;
    flex-direction: row;
    padding: 60px;
    gap: 30px;
    

    &-heading {
        font-size: 48px;
        margin-top: 0px;
    }
   
    &-info {
        font-size: 18px;
        line-height: 1.5;
    }

    
}

    #fname{
        
        padding: 12px 120px 12px 5px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 6px;
        box-sizing: border-box;
        font-size: 15px;
      }
     #email{
        
        padding: 12px 120px 12px 5px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 6px;
        box-sizing: border-box;
        font-size: 15px;
        
     } 
     .label-email{
        margin-top: 20px;
     }
   
.enviar{
    border: 1px solid $color-black;
    border-radius: 6px;
    background-color: $color-secondary;
    font-family: inherit;
    color: $color-white;
    font-size: 16px;
    line-height: 1;
    padding: 15px 17px;
    display: inline-block;
}

.copyright{
  margin: 30px 0;
   display: flex;
    justify-content: center;
    font-weight: bold;
    
}
