.btn {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #D4D4D8;
    background-color: #ffffff;
}

.btn:hover {
    background-color: #999999;
    color: #ffffff;
}

.btn--primary {
    background-color: #3B82F6;
    color: #ffffff;
    border-color: #1E40AF;
}

.btn--primary:hover {
    background-color: #1E40AF;
}

.img-responsive {
    max-width: 100%;
}

.text-important {
    color: #e60000;
    text-transform: uppercase;
}

.card {
    padding: 16px;
    border: 1px solid #cccccc;
    border-radius: 6px;
}

.pill {
    font-size: .9rem;
    border-radius: 4px;
    display: inline-flex;
    padding: 4px 6px;
}

.pill--1 {
    background-color: #e60000;
    color: #ffffff;
}

.pill--2 {
    background-color: #1E40AF;
    color: #ffffff;
}

.tag {
    display: inline-block;
    padding: 4px 6px;
    background: green;
    color: #ffffff;
}
.header {
    border-bottom: 1px solid #cccccc;
    padding-top: 16px;
    padding-bottom: 16px;
}
