.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin: 0px 70px 0px;
}
.menu{
    display: flex;
    flex-direction: row;
}
.main-content{
    margin: 0px 70px;}
.main-container{
    display: inline-flex;
    margin-top: 14px;
    
}
.main-row1{
    margin-right: 30px;
}
.comprar{
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.main-articel-footer-list{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0;
    padding-left: 0;
  
}

.main-articel-footer-list-item{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}
.main-articel-footer-list-item-text{
    margin: 0;
    padding-left: 20px;
}


.accesorios{
    margin-left: 70px;
    margin-right: 70px;
}
.accesorios-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    
}
.card{
border-style: solid;
border-width: 0.2px;
border-radius: 7px;
border-color: lightgray;
padding: 16px;
}
