$colors: (
    primary: #eaeaea,
    secondary: black,
    tertiary: white,
    quaternary: rgb(46, 208, 5),
);

$font-sizes: (
    xl: 3rem,
    lg: 2.5rem,
    md: 2rem,
    sm: 1.8rem,
    xs: 1.6rem,
);
