.flex{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}
.menu{
    background-color: lightblue;
    padding: 15px;
    transition: 1s;
    margin-left: -120px;
    height: 100vh;
}
.menu.visible{
    margin-left: 0px;

}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
button{
    margin: 20px;
}