<section class="container mt-3">
    <div class="mb-3">
        <select class="form-select" id="" (change)="capturarDirector($event)">
            <option value="">Selecciona una opcion</option>
            <option value="Tim Van Patten">Tim Van Patten</option>
            <option value="Brian Kirk">Brian Kirk</option>
            <option value="Daniel Minahan">Daniel Minahan</option>
        </select>
    </div>
    <div class="row g-3">
    <article class="col-12 col-md-6 col-lg-4"
     *ngFor="let episodio of episodios; let i = index">
        <app-episodio [miEpisodio]="episodio" [miPosicion]="i">

        </app-episodio>
    </article>
</div>
</section>