<!--interpolacion- -one binding comunicacion ts -> html->
<!--<div > Tere tulemast {{nombre}} {{apellido}} {{getVanus()}}</div>

<!--property binding comunicacion ts -html -->
<!--
<section>
  <div
    [innerHTML]="texto">
  </div>
  <p [class]="color">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta fuga velit quasi perspiciatis molestiae quia quisquam illo excepturi, laborum cumque?</p>
<button (click)="cambiarColor()">Cambiar color</button>
</section>
<section>
  <p>{{contador}}</p>
  <button (click)="contar()">contar</button>
</section>

<app-uno></app-uno>
<hr>
<app-dos></app-dos>
<section>
  <app-galeria></app-galeria>
</section>-->
<!--evento event binding html -> ts-->
<!--
<section>
  <app-contador></app-contador>
  <hr>
  <app-contador></app-contador>
  <hr>
  <app-contador></app-contador>
  
</section>-->
<app-twowaydata></app-twowaydata>