* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
  }
  
 .album{
  display: flex;
 }
 .album__w-thumbnails,
 .album__w-img{
  flex-basis: 50%;
 }
 
 .album__w-thumbnails{
  display: flex;
  flex-wrap: wrap;
 }
 .album__figure{
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
 }
 .album__figure-img{
  max-width: 100%;
 }