<!--p [style]=" 'font-size: '+ fontSize + 'px' ">Lorem ipsum 
    dolor sit, amet consectetur adipisicing elit. Eos ullam 
    laboriosam harum temporibus voluptatibus incidunt nobis 
    labore! Asperiores, beatae numquam!</p-->
    <input type="range" min="10" max="60" step="5" [value]="fontSize"
    (input)="cambiarFuente($event)">
    <input type="color" [value]="color" (input)="cambiarColor($event)">
    <p [ngStyle]="{'font-size': fontSize + 'px', 'background-color': color}">
        Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Odit, iusto. Minima magnam
         reprehenderit voluptate expedita
         illo alias ratione consectetur recusandae.
    </p>
    <hr>
    <section class="container">
    <div>
        <label for="propiedad">Intruce una propiedad de css</label>
        <input class="form-control" type="text" id="propiedad"
        [(ngModel)]="propiedad">
    </div>
    <div>
        <label for="valor">Intruce una valor de css</label>
        <input class="form-control" type="text" id="valor"
        [(ngModel)]="valor">
    </div>
    <button class="btn btn-primary mt-3" (click)="cambiarEstilos()">Guardar</button>
</section>
<p [ngStyle]="estilosParrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis, voluptas.</p>
